USE [master]
GO
/****** Object:  Database [StudentManagement]    Script Date: 11/5/2021 12:28:51 PM ******/
CREATE DATABASE [StudentManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StudentManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\StudentManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentManagement]
GO
/****** Object:  Table [dbo].[tblCourse]    Script Date: 11/5/2021 12:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCourse](
	[courseID] [int] NOT NULL,
	[subjectID] [varchar](20) NOT NULL,
	[courseName] [varchar](50) NULL,
 CONSTRAINT [PK_tblCourse_courseID] PRIMARY KEY CLUSTERED 
(
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblCourse] ([courseID], [subjectID], [courseName]) values (1, N'MAE101',N'Internaltional Payment')
/****** Object:  Table [dbo].[tblMajor]    Script Date: 11/5/2021 12:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMajor](
	[majorID] [varchar](20) NOT NULL,
	[majorName] [varchar](50) NULL,
 CONSTRAINT [PK_tblMajor_majorID] PRIMARY KEY CLUSTERED 
(
	[majorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblMajor] ([majorID], [majorName]) values (N'SE', N'Information Technology')
/****** Object:  Table [dbo].[tblMark]    Script Date: 11/5/2021 12:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMark](
	[courseID] [int] NOT NULL,
	[studentID] [varchar](20) NOT NULL,
	[Assignment] [float] NULL,
	[Practical] [float] NULL,
	[Final] [float] NULL,
 CONSTRAINT [PK_tblMark_studentID_courseID] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC,
	[courseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStudent]    Script Date: 11/5/2021 12:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStudent](
	[studentID] [varchar](20) NOT NULL,
	[fullname] [varchar](50) NULL,
	[birthday] [date] NULL,
	[gender] [int] NULL,
	[address] [varchar](50) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](50) NULL,
	[birthplace] [varchar](50) NULL,
	[majorID] [varchar](20) NOT NULL,
 CONSTRAINT [PK_tblStudent_studentID] PRIMARY KEY CLUSTERED 
(
	[studentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblStudent] ([studentID], [fullname], [birthday], [gender], [address], [phone], [email], [birthplace], [majorID]) VALUES (N'SE141167',N'Bui Thuy Linh',N'2000-06-02',2,N'Ha Noi',N'09134354464',N'linh@gmail.com',N'Nam Dinh',N'SE')
INSERT [dbo].[tblStudent] ([studentID], [fullname], [birthday], [gender], [address], [phone], [email], [birthplace], [majorID]) VALUES (N'SE140075',N'Khac Dai',N'2000-04-01',1,N'TPHCM',N'09256576877',N'dai@gmail.com',N'TPHCM',N'AI')
INSERT [dbo].[tblStudent] ([studentID], [fullname], [birthday], [gender], [address], [phone], [email], [birthplace], [majorID]) VALUES (N'SE141167',N'Ngoc Uoc',N'2000-08-11',1,N'Da Nang',N'0935768989',N'uoc@gmail.com',N'Vung Tau',N'SS')
/****** Object:  Table [dbo].[tblSubject]    Script Date: 11/5/2021 12:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubject](
	[subjectID] [varchar](20) NOT NULL,
	[majorID] [varchar](20) NOT NULL,
	[subjectName] [varchar](50) NULL,
 CONSTRAINT [PK_tblSubject_subjectID] PRIMARY KEY CLUSTERED 
(
	[subjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblSubject] ([subjectID], [majorID], [subjectName]) values ( N'MAE101',N'SE',N'Internaltional Payment')
/****** Object:  Table [dbo].[tblUser]    Script Date: 11/5/2021 12:28:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[email] [varchar](20) NOT NULL,
	[password] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tblUser] ([email], [password]) values (N'admin@gmail.com', N'123')
ALTER TABLE [dbo].[tblCourse]  WITH CHECK ADD  CONSTRAINT [FK_tblCourse_subjectID] FOREIGN KEY([subjectID])
REFERENCES [dbo].[tblSubject] ([subjectID])
GO
ALTER TABLE [dbo].[tblCourse] CHECK CONSTRAINT [FK_tblCourse_subjectID]
GO
ALTER TABLE [dbo].[tblMark]  WITH CHECK ADD  CONSTRAINT [FK_tblMark_courseID] FOREIGN KEY([courseID])
REFERENCES [dbo].[tblCourse] ([courseID])
GO
ALTER TABLE [dbo].[tblMark] CHECK CONSTRAINT [FK_tblMark_courseID]
GO
ALTER TABLE [dbo].[tblMark]  WITH CHECK ADD  CONSTRAINT [FK_tblMark_studentID] FOREIGN KEY([studentID])
REFERENCES [dbo].[tblStudent] ([studentID])
GO
ALTER TABLE [dbo].[tblMark] CHECK CONSTRAINT [FK_tblMark_studentID]
GO
ALTER TABLE [dbo].[tblStudent]  WITH CHECK ADD  CONSTRAINT [FK_tblStudent_majorID] FOREIGN KEY([majorID])
REFERENCES [dbo].[tblMajor] ([majorID])
GO
ALTER TABLE [dbo].[tblStudent] CHECK CONSTRAINT [FK_tblStudent_majorID]
GO
ALTER TABLE [dbo].[tblSubject]  WITH CHECK ADD  CONSTRAINT [FK_tblSubject_majorID] FOREIGN KEY([majorID])
REFERENCES [dbo].[tblMajor] ([majorID])
GO
ALTER TABLE [dbo].[tblSubject] CHECK CONSTRAINT [FK_tblSubject_majorID]
GO
USE [master]
GO
